/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

img {
    display: block;
    margin: 20px auto;
    width: 300px;
}

video {
    display: block;
    margin: 20px auto;
}

.xmlContent, .jsonContent{
    max-width: 400px;
    margin: 40px 0 40px 0;
}

.contaner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
